<h1>User Info</h1>

<div>
    First Name: {{first_name}}
    <br>
    Last Name: {{last_name}}
    <br>
    Display Name: {{display_name}}
    <br>
    Sub (unique): {{sub}}
    <br>
    JWT: {{jwt}}
</div>